div.ContainerSmall{
    border: 2px solid red;
    background-color: white;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 33.33%;
    transition: all 0.2s ease-in;
    cursor: pointer;
    text-align: center;
}

div.ContainerSmall:hover{
    transform: translate(0, -10px);
    box-shadow: 10px 10px 100px pink;
}
